@import '../../Global.scss';


.introduction {
    height: 100%;
    width: 100%;

    .wrapper {
        height: inherit;
        width: inherit;
        display: flex;
        align-items: center;

        .left {
            height: 100%;
            width: 50%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: $mainColor;
            
            h1 {
                font-size: 7rem;
                font-weight: 300;
            }
            h3 {
                font-size: 2rem;
                font-weight: 400;
            }

            }
        .right {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;



            img {
                height: 55%;
                width: 55%;
            }
        }
        }
}