@import '../../Global.scss';

.portfolioList {
    height: 25%;
    width: 5%;
    padding: 1%;
    font-weight: 500;
    cursor: pointer;
    background-color: #6475A6;

    &.active {
        font-weight: 700;
        color: #fff;
        background-color: #48845E;
    }
}