.App {
    height: 100vh;
    width: 100%;
    max-height: 1184px;
    max-width: 1920px;
    
    .sections {
        width: 100%;
        height: calc(100vh - 7vh);
        position: relative;
        top: 7vh;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
          }

        > *{
            width: 100vw;
            height: calc(100vh - 7vh);
            scroll-snap-align: start;
        }
    }
}
